bcrypt
black
cryptography
docutils
faker
getconf
jinja2
PasteScript
plaster-pastedeploy
pre-commit
python-json-logger
pyramid
pyramid-debugtoolbar
pyramid-swagger
pyramid_retry
pyramid_tm
pyyaml
requests
swagger_spec_validator
transaction
transitions
uWSGI
waitress
